@charset "UTF-8";
/*CSS Document*/
p {
  color: black;
  background-color: rgba(150,150,150,0.7);
  width: 1030px;
  padding: 35px;
}
body {
  background-image: url("slike/debla.jpg");
}
h1, h2 {
  color: rgba(200, 200, 200, 7);
}
ul, ol {
  color: rgba(100, 100, 100, 7);
}
img {
  width: 300px;
  padding: 20px;
}
video {
  width: 300px;
  padding: 30px;
}
a {
  color: white;
}
