@charset "UTF-8";
/*CSS Document*/
p {
  color: black;
  background-color: rgba(150,150,150,0.9);
  width: 710px;
  padding: 35px;
}
body {
  background-image: url("slike/debla.jpg");
}
h1 {
  color: rgba(200, 200, 200, 7);
}
ul, ol {
  color: rgba(60, 20, 100, 0.7);
}
img {
  width: 300px;
  padding: 20px;
}
a{
  color: blue;
}
