@charset "UTF-8";
/*CSS Document*/
p {
  color: purple;
  background-color: antiquewhite;
  width: 710px;
  padding: 35px;
}
body {
  background-color: grey;
}
h1, h2, h3 {
  color: rgba(60, 20, 100, 2);
}
ul, ol {
  color: rgba(60, 20, 100, 0.7);
}
img {
  width: 300px;
  padding: 20px;
}
